<template>
    <div>
        <div>
            {{ message }}
        </div>
        <form v-on:submit.prevent="save" name="myForm">
            <p>title: <input type="text" name="title" v-model="title"></p>
            <p>genre: <input type="text" name="genre" v-model="genre"></p>
            <p>year: <input type="text" name="year" v-model="year"></p>
            <p><input type="submit" value="Create"></p>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'createMovies',

        data () {
            return {
                title: '',
                genre: '',
                year: '',
                message: ''
              }
        },

        methods: {
            save () {
                  var x = document.forms["myForm"]["title"].value;
                  if (x == "") {
                      alert("Title must be filled out");
                      return false;
                  }
                axios.post('http://localhost:8000/api/movies/', {
                    title: this.title,
                    genre: this.genre,
                    year: this.year

                })
                    .then(response => {
                        this.message = response.data
                        this.title = ''
                        this.genre = ''
                        this.year = ''
                        this.$router.push('/movies/index')
                    })
                    .catch(error => {
                        this.message = error.message
                    })
            }
        }
    }
</script>
