<template>
    <div class="movies">
        <h1>Movies</h1>
        <router-link to="/movies/create">New Movie</router-link>
        <div>
        {{message}}
        </div>
        <table>
            <thead>
            <tr>
                <th>title</th>
                <th>genre</th>
                <th>year</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(movie, index) in movies" :key='index'>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.year }}</td>
                <td>
                    <button @click="remove(movie.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'indexMovies',
        data () {
            return {
                movies: [],
                message: ''
            }
        },

        created () {
            this.getData()
        },

        methods: {
            getData () {
                axios.get('http://localhost:8000/api/movies')
                    .then(response => {

                        this.movies = response.data
                    })
                    .catch(error => {

                        this.message = error.message

                    })
            },

            remove (id) {
               if( confirm("quer apagar?")) {
                   axios.delete('http://localhost:8000/api/movies/' + id)
                       .then(response => {
                           this.message = response.data

                           this.movies = this.movies.filter(function (cena) {
                               return cena.id !== id
                           })
                       })
                       .catch(error => {
                           this.message = error.message
                       })
               }
            }
        }

    }
</script>

<style>
    table {
        width: 100%;
    }
    tbody {
        text-align: left;
    }
    .tasks {
        border-top: 1px solid #dddddd;
    }
</style>
